<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Meses</title>
</head>

<body>
    <ul>
        {% for mes in meses %}
        <!-- <li><a href="/retos/{{mes}}">{{mes|title}}</a></li>  cambiado-->
        <li><a href="{% url 'retos-mensuales' mes=mes %}">{{mes|title}}</a></li>
        {% endfor %}
    </ul>
</body>

</html>